@import "clientlib-framework-theme/theme";
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');

section{
  &, & > *{
    position: relative;
  }

}

.section > section{
  &:before{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}


.gutter-large{
  padding: 100px 0;
}
.gutter-medium{
  padding: 50px 0;
}
.gutter-small{
  padding: 30px 0;
}

.range.map(0 100, {
  .fn(@i){
    .bg-overlay-@{i}:before{
      opacity: @i/100;
    }
  };
}, @step: 5);

.list.map(left right center justify,{
  .fn(@i){
    .text-@{i}{
      text-align: @i;
    }
  }
});

@text-colors:
text-inherit inherit,
text-black #333,
text-gray #888,
text-light-gray #ccc,
text-white #fff;


@bg-colors:
full-white #fff,
cloud-white #ecf0f1,
silver-gray #bdc3c7,
asphalt-blue #34495e,
midnight-blue #2c3e50,
concrete-gray #95a5a6,
asbestos-gray #7f8c8d,
turquoise-green #1abc9c,
sea-green #16a085,
emerald-green #2ecc71,
nephritis-green #27ae60,
sunflower-yellow #f1c40f,
sunset-orange #f39c12,
carrot-orange #e67e22,
pumpkin-orange #d35400,
alizarin-red #e74c3c,
pomegranate-red #c0392b,
amethyst-purple #9b59b6,
wisteria-purple #8e44ad;

.map.each(@text-colors, {
  .fn(@k, @v){
    .@{k}{
      color: @v;
    }
  }
});

.map.each(@bg-colors, {
  .fn(@k, @v){
    .bg-@{k}{
      &, &:before{
        background: @v;
      }
    }
  }
});


// ***************************** //
// *********** FORMS *********** //
// ***************************** //

input, textarea{
	padding: 6px;
    border-color: rgba(0,0,0,.25);
    border-width: 1px;
    border-style: groove;
    border: 0 none;
    // box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    // line-height: 1.25;
    font-size: .875em;
    background: rgba(0,0,0,.15);
}

.form-group(){
	
}

.button-group(){
	
}

.input-group(){
	
}

.input-color-theme(@theme){
	
}

.btn{
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	.ctrl-size(16px);
}

.ctrl-size(@font-base; @ctrl-weight : 1){
	@padding-base : @font-base * @ctrl-weight;
	font-size: @font-base;
	line-height: ceil(@font-base * 1.25);
	padding: floor(@padding-base * .875) floor(@padding-base * 1.25);
}

.control-colors(@color){

}

@control-sizes:  xs 12px, sm 14px, md 16px, lg 20px, xl 24px;

.ctrl-template(@ctrl-weight){
	.fn(@key, @value){
		&.size-@{key}{
			.ctrl-size(@value, @ctrl-weight);
		}
	}		
}

@btn: { .ctrl-template(1); };
@control : { .ctrl-template(.5); };

.btn{
	.map.each(@control-sizes, @btn);
	background: @brand-primary;
	color: white;
	border: 1px solid; 
}

.control{
	.map.each(@control-sizes, @control);
}

.text-control{
	background: #ddd;
	color: #333;
}

textarea, input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="number"]{
	&:extend(.text-control);
}

.text-control, .btn.compact{
	&:extend(.control all);
}

@btn-colors:
primary @brand-primary,
secondary #34495e,
success #449d44,
info #5bc0de,
warning #f0ad4e,
danger #c9302c;

@fn : {.fn(){}};
@null : ~"";

.btn-colors(@color; @template : @fn; @default: @btn-default){
	.border(@modifier: #000; @border-color: @color){
		@border-modifier: @modifier;
		@border-color-computed: @border-color;
	}
	.hover(@ratio : 12; @modifier: #000){
		@hover-ratio: @ratio;
		@hover-modifier: @modifier;
	}
	.focus(@ratio : 14; @modifier: #080808){
		@focus-ratio: @ratio;		
		@focus-modifier: @modifier;
	}
	.active(@ratio : 16; @modifier: #060606){
		@active-ratio: @ratio;		
		@active-modifier: @modifier;
	}
	.gen(){
		background: @color;
		border-color: @border-color-computed - @border-modifier;		
		&:hover{
			background: @color / (1 + @hover-ratio / 100) - @hover-modifier;
			border-color: @border-color-computed / (1 + @hover-ratio / 100) - @hover-modifier - @border-modifier;			
		}
		&:focus{
			background: @color / (1 + @focus-ratio / 100) - @focus-modifier;
			border-color: @border-color-computed / (1 + @focus-ratio / 100) - @focus-modifier - @border-modifier;			
		}
		&:active{
			background: saturate(@color / ( 1 + @active-ratio / 100) / 1.10, @active-ratio / 1.25) - @active-modifier;
			border-color: saturate(@border-color-computed / (1 + @active-ratio / 100) / 1.10, @active-ratio / 1.10) - @active-modifier - @border-modifier;
		}
	}
	@template();
	.fn();
	@default();
	.fn();
	.gen();
}

@btn-default: {
	.fn(){
		.border();
		.hover();
		.focus();
		.active();
	}
};

@btn-alt: {
	.fn(){
		.border(#222);
	}
};

@btn-all: {
	.fn(@k, @v){
		&.btn-@{k}{			
			.btn-colors(@v, @btn-alt);
			// @{k}: @v;
		}
	}
};

.btn{
	outline: 0 none;
	.btn-colors(@brand-primary, @btn-default);	
}
.btn{
	.map.each(@btn-colors, @btn-all);
}