@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%); // Link hover color set via `darken()` function.
@link-hover-decoration: underline; //** Link hover decoration.

@btn-style-bordered: {
	.fn(){
		.style(@border-modifier: -13);
	}
};

@btn-style-opaque : {
  .fn(){
    .style(@border-color: white, @bg-opacity: 25);
    .normal(@bg-color: white);
    .hover(@bg-opacity: 100);
    .focus(@bg-opacity: 100);
    .active(@bg-color: black, @bg-opacity: 50, @modifier: 20);
  }
};